<ul class="nav" role="menu">
    <!-- home -->
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">Home</a></li>
    <!-- about -->
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}about/">About</a></li>
    <!-- git-github -->
    <li class="nav-git-github" role="menuitem"><a href="{{site.baseurl}}tag/git-github/">git-github</a></li>
    <!-- TIL -->
    <li class="nav-til" role="menuitem"><a href="{{site.baseurl}}tag/til/">til</a></li>
    <!-- 모든 포스트 -->
    <li class="nav-archive" role="menuitem"><a href="/archive.html">All Posts</a></li>
    <!-- 태그별 포스트 -->
    <li class="nav-archive" role="menuitem"><a href="/author_archive.html">Tag별 Posts</a></li>
</ul>

