@import "global.css";

.post-pagenav * {
    margin: 0;
    padding: 0;
}

.post-pagenav {
    margin: 0 auto;
    overflow: hidden;
    max-width: 840px;
    padding: 7vh 0 1vh;
}

.post-pagenav .post-pagenav-btn {
    max-width: 920px;
    padding: 10px;
    /* width: 40%; */
    background-color: #e5eff580;
}

.post-pagenav .post-pagenav-btn.pre {
    float: left;
}


.post-pagenav .post-pagenav-btn.next {
    float: right;
}

.post-pagenav .post-pagenav-btn a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--darkgrey);
    text-decoration: none;
}

.post-pagenav .post-pagenav-btn a:hover{
    color: var(--auroSraRed);
}
.post-pagenav .post-pagenav-btn.pre a{
    justify-content: flex-start;
}
.post-pagenav .post-pagenav-btn.next a{
    justify-content: flex-end;
}
/* 아이콘 */
.post-pagenav .post-pagenav-icon::after {
    display: inline-block;
    line-height: 1;
    font-family: "FontAwesome";
    font-size: 4rem;
    font-weight: normal;
    font-style: normal;
    color: var(--auroSraRed);
}

.post-pagenav .post-pagenav-icon.pre::after {
    content: "\f0a8";
    margin-right: 20px;

}

.post-pagenav .post-pagenav-icon.next::after {
    content: "\f0a9";
    margin-left: 20px;

}
.post-pagenav .post-pagenav-btn .post-pagenav-text .title
{
    font-weight: 700;
}